div.bubble {
    border : 1px solid gray;
    padding : 1px;
    margin-bottom : 0px;
}

div#canvas {
    width:100%;
    z-index : 10;
    height : 100%;
}


input#message{
    width : 300px;

}

input.button, button{
    font-size: 40px;
    margin : 10px;
    line-height : 60px;
}

input {
    line-height : 60px;
}