body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#swing_wrapper {
  width: 100%;
  font-size: 21pt;
  height: 32px;
}

div#swing_meter {
  float: left;
  position: absolute;
  background-color: red;
  width:0%;
  height: 32px;
  z-index: -10;
}