body {
  font-size: 32px;
  background-image : url("../images/baseball.jpg");
  background-size : cover;
}

div#contents {
  width: 640px;
  padding: 10px;
  margin: 0 auto;
}

div#canvas {
  possition: absolute;
  width: 640px;
  z-index : 10;
  height : 100%;
}

a {
  color: #00B7FF;
}

button#swing, input.button {
  padding: 5px 20px;
  font-size: 40px;
  margin: 10px;
  line-height: 60px;
}

button#swing {
  width: 99%;
}
div#presetBox input.button {
  padding: 20px;
  width: 300px;
}

input[type="button"], input[type="text"] {
  font-size: 32px;
}

div#commands {
  font-size:20px;
}
input#message {
  width:520px;
  margin-left:10px;
}
input#btn {
  padding:5px;
  font-size:24px;
}
div#swing0_wrapper, div#swing1_wrapper {
  width: 100%;
  font-size: 21pt;
  height: 32px;
}

div#swing0_meter, div#swing1_meter {
  float: left;
  position: absolute;
  width:0%;
  height: 32px;
  z-index: -10;
}

div#swing0_ground_number {
  float:right;
}
div#swing0_meter {
  background-color: #FA0;
}
div#swing1_meter {
  background-color: #F00;
}

div#msglist {
    overflow : hidden;
    position : absolute;
    z-index : 0;
    height : 100%;
    width : 640px;
}

div.bubble {
    border : 1px solid gray;
    padding : 1px;
    margin-bottom : 0px;
}


/*
input.button, button{
    font-size: 40px;
    margin : 10px;
    line-height : 60px;
}

input {
    line-height : 60px;
}
*/