<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=640">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MegaPhone Concept</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/api.js"></script>
    <script type="text/javascript" src="/javascripts/bubbleInfo.js"></script>
    <script type="text/javascript" src="/javascripts/bubbleManager.js"></script>
    <script type="text/javascript" src="/javascripts/chatManager.js"></script>
    <script type="text/javascript" src="/javascripts/GestureManager.js"></script>
    <script type="text/javascript" src="/javascripts/hammer.min.js"></script>
<script>
$(function(){
    document.socket = io.connect('http://api.m-ph.org:3000');

    bubbleManager = $('#canvas').bubbleManager({
        max: 100,
        button: '#button',
	idForm: '#idForm',
	magForm: '#magForm',
	colorForm: '#colForm'
    });

    document.gestureManager = new GestureManager( document.getElementById("body") ); 

    var chatManager = $('#buttons').chatManager({
	box : '#presetBox',
	labels: [ 'チャンス!', 'やったー', 'ナイス!!', 'ドンマイ' ]
    });

    document.socket.on('push swings', function (json) {
	var obj = JSON.parse(json);
	var currentIds = $('#canvas').bubbleManager.ids();
	for( var id in obj.swings ){
	    var swinginfo = obj.swings[id];
	    if( swinginfo.mag > 1 ){
		$('#canvas').bubbleManager.addBubble( id, swinginfo.mag, '#'+swinginfo.color);
	    }
	}

	for( var cid in currentIds ){
	    if( ! obj.swings[ cid ] ){
		$('#canvas').bubbleManager.removeBubble( cid );
	    }
	}
        // draw meter
        draw_meter('swing1',obj.total_mag);
        draw_meter('swing0',0);
    });

  // this should be contained in the class, yet just copy it now
  function draw_meter( id, mag, color ) {
    $('#'+id+'_number').html(Math.round(mag));
    var sp = Math.sqrt(parseFloat(mag))/100;
    if( 1 < sp ) sp = 1;
    if( 0 > sp ) sp = 0;
    var wd = parseInt( $('#'+id+'_wrapper').width()*sp );
    if( 0 <= wd ) $('#'+id+'_meter').css('width',wd+'px');
    if( color ) $('#'+id+'_meter').css('background-color','#'+color);
  }

});
</script>
</head>
  <body id="body">
   <div id="contents">
    <div id="canvas"></div>
    <button id="swing">応援</button><br />
    <div id="swing0_wrapper"><div id="swing0_meter"></div><div id="swing0_number">my swing</div></div>
    <div id="swing1_wrapper"><div id="swing1_meter"></div><div id="swing1_number">total swing</div></div>
    <div>
    chat : <input type="text" name="message" id="message" /><button id="btn">送信</button>
    <div id='presetBox'></div>
    <div id="msglist"></div>
    </div>
   </div>
  </body>
</html>
